<!DOCTYPE HTML>
<head>

    <title>{{#title}}{{title}}{{/title}}{{^title}}No title{{/title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="application/json" href="css/main.css" />

</head>
{{!  this is header }}
