{{>layout/header}}
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{{>layout/navbar}}

<h1>Error</h1>
<div>
    {{error}}
</div>

{{>layout/formatting}}
</body>
{{>layout/footer}}