{{>layout/header}}
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{{>layout/navbar}}

<div class="container">

    <div class="starter-template">
        <h1>Chores</h1>
        <h2>
            {{message}}
        </h2>
    </div>

</div>

{{>layout/formatting}}

</body>
{{>layout/footer}}