{{>layout/header}}
<body onload="document.f.username.focus()">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{{>layout/navbar}}

<h1>Login</h1>

<form name="f" action="/login" method="POST">
    {{#error}}<div class="alert alert-error">
        Invalid username and password.
    </div>{{/error}}
    {{#logout}}<div class="alert alert-error">
        You have been logged out.
    </div>{{/logout}}
    <div class="form-group">
        <label for="username">Email:</label>
        <input type="email" class="form-control" name="username" id="username" placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
    </div>
    {{>layout/csrf}}
    <div class="form-actions">
        <button type="submit" class="btn btn-default">Log in</button>
    </div>
</form>
<br/>
Don't have an account? <a href="/register">Register</a>

{{>layout/formatting}}
</body>
{{>layout/footer}}