{{>layout/header}}
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Chores</h1>
        {{#message}}<h2>
            {{message}}
        </h2>{{/message}}
    </div>

</div>

{{>layout/formatting}}

</body>
{{>layout/footer}}