{{>layout/header}}
<body onload="document.f.firstname.focus()">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{{>layout/navbar}}

<h1>Register New User</h1>

<form name="f" action="/register" method="POST">
    {{#error}}<div class="alert alert-error">
    {{error}}
    </div>{{/error}}
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"/>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
    </div>
    <div class="form-group">
        <label for="matchingPassword">Confirm Password:</label>
        <input type="password" class="form-control" name="matchingPassword" id="matchingPassword" placeholder="Confirm Password" />
    </div>
    {{>layout/csrf}}
    <div class="form-actions">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<br/>
Already have an account? <a href="/login">Login</a>

{{>layout/formatting}}
</body>
{{>layout/footer}}